body {
	color: rgba(18, 18, 18, 0.64);
}

p {
    margin: 10px 0 10px;
}

tt.descname {
background-color: rgba(255, 50, 58, 0.15);
font-weight: bold;
font-size: 1.2em;
}

h1 {
    color: rgba(155, 58, 58, 0.68);
}

h2 {
    color: rgba(155, 58, 58, 0.68);
}